.container {
  width: 100%;
  margin-bottom: 0;
  background-color: #252525;
  color: #fefefe;
  overflow: hidden;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
}

.player {
  box-sizing: border-box;
  display: block;
  margin: auto;
  position: relative;
  height: calc(90vh - 100px);
  width: 100%;
  max-width: 960px;
  padding: 0;
}

.reactPlayer{
  position: absolute;
  top: 0;
  left: 0;
}
