@font-face {
  font-family: 'Noto Sans';
  src: url('hinted-subset-NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('hinted-subset-NotoSans-Regular.woff2') format('woff2'),
      url('hinted-subset-NotoSans-Regular.woff') format('woff'),
      url('hinted-subset-NotoSans-Regular.ttf') format('truetype'),
      url('hinted-subset-NotoSans-Regular.svg#NotoSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('hinted-subset-NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('hinted-subset-NotoSans-SemiBold.woff2') format('woff2'),
      url('hinted-subset-NotoSans-SemiBold.woff') format('woff'),
      url('hinted-subset-NotoSans-SemiBold.ttf') format('truetype'),
      url('hinted-subset-NotoSans-SemiBold.svg#NotoSans-SemiBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('hinted-subset-NotoSerif-Regular.eot?#iefix') format('embedded-opentype'),
      url('hinted-subset-NotoSerif-Regular.woff2') format('woff2'),
      url('hinted-subset-NotoSerif-Regular.woff') format('woff'),
      url('hinted-subset-NotoSerif-Regular.ttf') format('truetype'),
      url('hinted-subset-NotoSerif-Regular.svg#NotoSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('hinted-subset-NotoSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('hinted-subset-NotoSerif-SemiBold.woff2') format('woff2'),
      url('hinted-subset-NotoSerif-SemiBold.woff') format('woff'),
      url('hinted-subset-NotoSerif-SemiBold.ttf') format('truetype'),
      url('hinted-subset-NotoSerif-SemiBold.svg#NotoSerif-SemiBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
