:global(body) {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}
:global(a) {
  font-weight: 600;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FAFAFA;

  :global(.ant-layout-content) {
    padding: 20px 50px;
    // margin: auto;
  }
}

.header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

  :global(.ant-menu-horizontal) {
    border-bottom: none;
    line-height: 60px;
  }

  :global(.ant-menu) {
    background-color: transparent;
    // color: #fff;

    :global(.ant-menu-item-selected) {
      font-weight: 600;
      border-bottom-width: 4px;
    }
  }
}

.content {
  flex: 1;
}

.footer {
  text-align: center;
  background-color: transparent;
}

.logo {
  width: auto;
  height: 100%;
  padding: 8px 0px;
  float: left;
  line-height: 46px;
  // color: rgba(0, 0, 0, 0.65);
  color: #333;
  font-weight: 600;
  vertical-align: middle;

  i {
    font-size: 46px;
    margin-right: 0;
  }
}
