.container {
  margin-top: 0;
  width: 100%;
  height: auto;
  display: inline-block;

  background-color: #FFF;
}
.postText {
  max-width: 680px;
  width: 90vw;
  margin: auto;
  font-family: "Noto Serif", Georgia, Cambria, "Times New Roman", Times, serif;

  :global(.ant-typography) {
    font-style: normal;
    font-weight: normal;

    // line-height: 28px;
    line-height: 1.4;
    letter-spacing: -0.004em;

    color: rgba(0, 0, 0, 0.85);
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .title {
    color: #333333;
    font-size: 28px;
    margin-bottom: 0;
    font-weight: 600;
  }

  .paragraph {
    font-size: 20px;
    padding: 0 5px;
  }
}
